.question-box {
    margin-left: 20px;
}

.question {
    height: 50px;
    width: 50px;
    margin-bottom: 30px;
    background-color: lightblue;
    text-align: center;
}

.answerTextShow {
    margin-bottom: 5px;
    border-bottom: 1px lightgray solid;
}

.answer {
    margin-left: 20px;
}

.newQ {
    margin-top: 20px;
}

.answerText,
.answerSubmit,
.answerNP {
    display: none;
}